Ausarbeitung/Masterarbeit.log
Ausarbeitung/Masterarbeit.bbl
Ausarbeitung/Masterarbeit.lof
Ausarbeitung/Masterarbeit.lot
Ausarbeitung/Masterarbeit.aux
Ausarbeitung/Masterarbeit.synctex.gz
Ausarbeitung/Masterarbeit.toc
Experimentelles/*
Konstruktion/*